<a href="https://colab.research.google.com/github/faithscent/TechTalentRuth/blob/main/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from __future__ import print_function
import pandas as pd
pd.__version__

'1.1.5'

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Flightsinfo11.csv to Flightsinfo11.csv

In [4]:
destination = pd.read_csv('Flightsinfo11.csv')
destination.shape

(15, 8)

In [5]:
print(destination.iloc[3:9])

  Destination_n   Continent_tt   ... Holiday_score  Destination_score
3           Ghana       Africa   ...            10                  10
4             USA      Americas  ...             8                   9
5           Italy        Europe  ...             4                   7
6           Italy        Europe  ...             8                   8
7    South Africa       Africa   ...             9                  10
8             UAE   Middle East  ...             8                   9

[6 rows x 8 columns]

In [7]:
destination = pd.read_csv('Flightsinfo11.csv')
print(destination)

   Destination_n   Continent_tt   ... Holiday_score  Destination_score
0           France        Europe  ...             5                   7
1            Spain        Europe  ...             7                  10
2              USA      Americas  ...            10                   9
3            Ghana       Africa   ...            10                  10
4              USA      Americas  ...             8                   9
5            Italy        Europe  ...             4                   7
6            Italy        Europe  ...             8                   8
7     South Africa       Africa   ...             9                  10
8              UAE   Middle East  ...             8                   9
9           Sweden        Europe  ...             9                   8
10           China         Asia   ...             7                   6
11           China         Asia   ...             6                   9
12           Italy        Europe  ...             3                   6
13           India         Asia   ...             8                   7
14             U.K        Europe  ...             5                   8

[15 rows x 8 columns]

In [12]:
print(destination.loc[3:9])

  Destination    Continent    ... Hotel score (1-10)  Destination score (1-10)
3         Ghana      Africa   ...                 10                        10
4           USA     Americas  ...                  8                         9
5         Italy       Europe  ...                  4                         7
6         Italy       Europe  ...                  8                         8
7  South Africa      Africa   ...                  9                        10
8           UAE  Middle East  ...                  8                         9
9        Sweden       Europe  ...                  9                         8

[7 rows x 8 columns]

In [8]:

destination.columns

Index(['Destination_n  ', 'Continent_tt ', ' Most_Vistited_City  ',
       'Monthly_Vistors ', 'Cost_of_holiday ', 'Type_of_holiday ',
       'Holiday_score', 'Destination_score '],
      dtype='object')

In [10]:
destination.rpow

<bound method _arith_method_FRAME.<locals>.f of    Destination_n   Continent_tt   ... Holiday_score  Destination_score
0           France        Europe  ...             5                   7
1            Spain        Europe  ...             7                  10
2              USA      Americas  ...            10                   9
3            Ghana       Africa   ...            10                  10
4              USA      Americas  ...             8                   9
5            Italy        Europe  ...             4                   7
6            Italy        Europe  ...             8                   8
7     South Africa       Africa   ...             9                  10
8              UAE   Middle East  ...             8                   9
9           Sweden        Europe  ...             9                   8
10           China         Asia   ...             7                   6
11           China         Asia   ...             6                   9
12           Italy        Europe  ...             3                   6
13           India         Asia   ...             8                   7
14             U.K        Europe  ...             5                   8

[15 rows x 8 columns]>

In [87]:
data = pd.DataFrame(destination)

In [66]:
data.shape

(15, 8)

In [92]:
data = pd.DataFrame(destination)

In [20]:
print (data.columns.tolist())

['Destination_n  ', 'Continent_tt ', ' Most_Vistited_City  ', 'Monthly_Vistors ', 'Cost_of_holiday ', 'Type_of_holiday ', 'Holiday_score', 'Destination_score ']

In [22]:
print("\n----------- Calculate Mean -----------\n")
print(data.mean())

----------- Calculate Mean -----------

Monthly_Vistors       1406.733333
Holiday_score            7.133333
Destination_score        8.200000
dtype: float64

In [25]:
data.loc['France']

KeyError: ignored

In [28]:
data.get('Monthly_Vistors ')

0     2000
1     1060
2     2690
3     1986
4     2100
5      670
6      890
7     2540
8      380
9      206
10     730
11     981
12    1199
13    3064
14     605
Name: Monthly_Vistors , dtype: int64

In [33]:
data['Cost_of_holiday '] = data['Cost_of_holiday '].str.replace(',', '').str.replace('$', '').astype(int)

In [ ]:
means = data.groupby(['Cost_of_holiday ']).mean()
print(means)

means1 = data.mean

In [43]:
data.mean(axis=1)

0      577.50
1      370.50
2      824.75
3      671.25
4      641.75
5      207.75
6      311.00
7     1614.50
8      360.50
9      173.25
10     600.75
11     554.00
12     342.00
13    1017.25
14     189.50
dtype: float64

In [67]:
 data.iloc[[1,7,9,10,13],[4,5]]

    Cost_of_holiday  Type_of_holiday
1                405    all-inclusive
7               3899    All-inclusive
9                470    All-inclusive
10              1660    All-inclusive
13               990    All-inclusive

In [71]:
inclusive = data.iloc[[1,7,9,10,13],[4,5]]
means = inclusive.mean

In [74]:
data.nsmallest(1,'Holiday_score')

   Destination_n   Continent_tt   ... Holiday_score  Destination_score
12           Italy        Europe  ...             3                   6

[1 rows x 8 columns]

In [76]:
data.nlargest(1,'Holiday_score')

  Destination_n   Continent_tt   ... Holiday_score  Destination_score
2             USA      Americas  ...            10                   9

[1 rows x 8 columns]

In [77]:
data.iloc[[1,7,9,10,13],[0,5]]

   Destination_n   Type_of_holiday
1            Spain    all-inclusive
7     South Africa    All-inclusive
9           Sweden    All-inclusive
10           China    All-inclusive
13           India    All-inclusive

In [83]:
cols1 = 'Destination_score '
data1 = data[data[cols1] > 8]
print(data1)

   Destination_n   Continent_tt   ... Holiday_score  Destination_score
1            Spain        Europe  ...             7                  10
2              USA      Americas  ...            10                   9
3            Ghana       Africa   ...            10                  10
4              USA      Americas  ...             8                   9
7     South Africa       Africa   ...             9                  10
8              UAE   Middle East  ...             8                   9
11           China         Asia   ...             6                   9

[7 rows x 8 columns]

In [96]:

cols1 = 'Destination_score '
data2 = data[data[cols1] < 2]
print(data2)

Empty DataFrame
Columns: [Destination_n  , Continent_tt ,  Most_Vistited_City  , Monthly_Vistors , Cost_of_holiday , Type_of_holiday , Holiday_score, Destination_score ]
Index: []